__pycache__
.vscode
datasets
venv
*.env
secrets
gcloud-notes.txt
note.txt
.prefectignore
archi.excalidraw
google_creds.json
data/apims-2005-2017.csv
data

# Terraform
*.tfvars
*.tfstate
*.tfstate.backup

# Default .gitignore content added by dbt Cloud
dbt/target/
dbt/dbt_packages/
dbt/logs/
# end dbt Cloud content
