__pycache__
.vscode
datasets
venv
*.env
secrets
gcloud-notes.txt
note.txt
.prefectignore
archi.excalidraw
# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content
