__pycache__
.vscode
datasets
venv
*.env
secrets
gcloud-notes.txt
note.txt
.prefectignore
archi.excalidraw
# Default .gitignore content added by dbt Cloud
dbt/target/
dbt/dbt_packages/
dbt/logs/
# end dbt Cloud content
