agate==1.9.1
aiosqlite==0.20.0
alembic==1.13.3
annotated-types==0.7.0
anyio==4.6.2.post1
appnope==0.1.4
apprise==1.9.0
asgi-lifespan==2.1.0
asttokens==2.4.1
asyncpg==0.30.0
attrs==24.2.0
babel==2.16.0
betterproto==1.2.5
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.1.0
colorama==0.4.6
comm==0.2.2
coolname==2.2.0
croniter==3.0.4
cryptography==43.0.3
daff==1.3.46
dateparser==1.2.0
db-dtypes==1.3.0
dbt-adapters==1.7.0
dbt-bigquery==1.8.3
dbt-common==1.10.0
dbt-core==1.8.8
dbt-extractor==0.5.1
dbt-semantic-interfaces==0.5.1
debugpy==1.8.7
decorator==5.1.1
deepdiff==7.0.1
docker==7.1.0
durationpy==0.9
exceptiongroup==1.2.2
executing==2.1.0
fastapi==0.115.4
fsspec==2024.10.0
future==1.0.0
geographiclib==2.0
geopy==2.4.1
google-api-core==2.22.0
google-api-python-client==2.151.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-bigquery==3.26.0
google-cloud-bigquery-storage==2.27.0
google-cloud-core==2.4.1
google-cloud-dataproc==5.15.0
google-cloud-secret-manager==2.21.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
graphql-core==3.2.5
graphviz==0.20.3
greenlet==3.1.1
griffe==1.5.1
grpc-google-iam-v1==0.13.1
grpcio==1.67.1
grpcio-status==1.62.3
grpclib==0.4.7
h11==0.14.0
h2==4.1.0
hologram==0.0.16
hpack==4.0.0
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
humanize==4.11.0
hyperframe==6.0.1
idna==3.10
importlib-metadata==6.11.0
ipykernel==6.29.5
ipython==8.29.0
isodate==0.6.1
jedi==0.19.1
Jinja2==3.1.4
jinja2-humanize-extension==0.4.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kubernetes==31.0.0
leather==0.4.0
Logbook==1.5.3
Mako==1.3.6
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mashumaro==3.14
matplotlib-inline==0.1.7
mdurl==0.1.2
minimal-snowplow-tracker==0.0.2
more-itertools==10.5.0
msgpack==1.1.0
multidict==6.1.0
nest-asyncio==1.6.0
networkx==3.4.2
numpy==2.1.2
oauthlib==3.2.2
ordered-set==4.1.0
orjson==3.10.10
packaging==24.1
pandas==2.2.3
pandas-gbq==0.24.0
parsedatetime==2.6
parso==0.8.4
pathspec==0.12.1
pendulum==3.0.0
pexpect==4.9.0
platformdirs==4.3.6
prefect==3.0.11
prefect-dbt==0.6.3
prefect-gcp==0.6.1
prefect-github==0.3.0
prefect-shell==0.3.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
proto-plus==1.25.0
protobuf==4.25.5
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==18.0.0
pyasn1==0.5.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.9.2
pydantic-extra-types==2.9.0
pydantic-settings==2.6.0
pydantic_core==2.23.4
pydata-google-auth==1.8.2
Pygments==2.18.0
pyparsing==3.2.0
pyrsistent==0.20.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2024.2
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
PyYAML==6.0.2
pyzmq==26.2.0
readchar==4.2.0
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rich==13.9.3
rpds-py==0.20.1
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
sgqlc==16.4
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.36
sqlparse==0.5.1
stack-data==0.6.3
starlette==0.41.2
stringcase==1.2.0
tenacity==9.0.0
text-unidecode==1.3
time-machine==2.16.0
toml==0.10.2
tornado==6.4.1
traitlets==5.14.3
typer==0.12.5
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
ujson==5.10.0
uritemplate==4.1.1
urllib3==2.2.3
uvicorn==0.32.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.0.6
zipp==3.20.2
